
:root{
    /* fonts */
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    /* text colors */
    --header-web-txt-cl: #000000;
    --header-secondary-web-txt-cl: #2196F3;
    --header-secondary-tel-cl: #757575;
    
    --main-txt-cl:#FFFFFF;
    --main-secondary-txt-cl:#188CE8; 
    --main-osob-txt-cl: #212121;
    --main-osob1-txt-cl:#757575;
    --main-secon-team-txt-cl: #757575;

    --footer-web-txt-cl:#FFFFFF;
    --footer--web-secondary-txt-cl:#2196F3;
    --footer-address-txt-cl:#FFFFFF;

    /* bg colors */
    --header-bg-cl: #FFFFFF;

    --main-bg-cl: #2F303A;
    --main-secondary-bg-cl:#E5E5E5;
    --main-team-bg-cl: #F5F4FA;
    
    --footer-bg-cl: #2F303A;
    
    /* others */
}
body {
   font-family: var(--main-font);
   color: #212121;
   }
   .mail{
 font-weight: 500;
font-size: 14px;
line-height:calc(16/14);
letter-spacing: 0.02em;

color:var(--header-secondary-tel-cl);

   }
   .adress-phone{
 font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;

   }
   .hero{
    background-color: var(--main-bg-cl);
}
.main-button {
    font-family:inherit;
font-weight: 700;
font-size: 16px;
line-height:calc(30/16);
/* identical to box height, or 188% */
letter-spacing: 0.06em;

color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
}
.main-button-portfolio{
    font-family:inherit;
font-weight: 500;
font-size: 16px;
line-height:calc(26/16);
/* identical to box height, or 162% */

letter-spacing: 0.03em;

color: #FFFFFF;
background-color: #2196F3;
cursor: pointer;
}
.text{
font-weight: 700;
font-size: 18px;
line-height:calc(36/18);
/* identical to box height, or 200% */

letter-spacing: 0.06em;
}
.desc{
    line-height:calc(30/16);
    /* identical to box height, or 188% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
}
.secondary-button{
    font-family:inherit;
font-weight: 500;
font-size: 16px;
line-height:calc(26/16);
/* identical to box height, or 162% */

letter-spacing: 0.03em;

color: #212121;
}
.secondary-button:hover,
.secondary-button:focus
{ 
    cursor: pointer;
    color: white;
    background-color: #2196F3;
}
/* reset styles */
.link{
text-decoration: none;
color: currentColor;
}
.list{
list-style: none;
}
.main {
    color: #2196F3;
}
.header-link{
font-weight: 500;
font-size: 14px;
line-height:calc(16/14);
letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus{
    color: #2196F3;
}
.mail:hover,
.mail:focus{
    color: #2196F3;
}
.header-phone:hover,
.header-phone:focus{
    color: #2196F3;
}
.contacts-link{
font-style: normal;
font-size: 14px;
line-height:calc(24/14);
/* or 171% */

letter-spacing: 0.03em;
color: #FFFFFF;
}
.mail-tel{
    color: rgba(255, 255, 255, 0.6);

}
.contacts-link:hover,
.contacts-link:focus{
    color: #2196F3;
}
.logo{
    font-family:var(--secondary-font);
        font-weight: 700;
    font-size: 26px;
    line-height:calc(31/26);
    /* identical to box height */
    
    letter-spacing: 0.03em;
    color: var(--header-web-txt-cl );

} 
.team{
    background-color: #F5F4FA;
}
.about-title{
     font-weight: 700;
    font-size: 14px;
    line-height:calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
color: var(--main-osob-txt-cl);
}
.about-h3{
    font-size: 14px;
    line-height:calc(24 / 14);
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color:var(--main-osob1-txt-cl);
    }
    .about-our{
font-weight: 700;
font-size: 36px;
line-height:  calc(42 / 36);
text-align: center;
letter-spacing: 0.03em;

color: #212121;

    }
    .our-team{
font-weight: 500;
font-size: 16px;
line-height:calc(19/16);
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #212121;
    }
    .job-title{
line-height:calc(19/16);
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;
    }
.main-title{
font-weight: 900;
font-size: 44px;
line-height:calc(60/44);
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}

.logo1{
    color: #2196F3;
}
.logo2{
    color: #FFFFFF;
}
.logo2:hover,
.logo2:focus{
    color: #2196F3;
}
.footer{
    background-color: #2F303A;
}
